.table {
    display: table;
}

.row {
    display: table-row;
}

.col {
    display: table-cell;
    outline: 1px solid;
}

.width_10 {
    width: 10px;
}

.width_40 {
    width: 40px;
}

.width_200 {
    width: 200px;
}
